# solution 1

the keyword used to crete a function is def

In [1]:
def func(a):
    return a

In [2]:
func(1)

1

function to return a list of odd numbers in the
range of 1 to 25.

In [3]:
def odd():
    for i in range(1,25):
        if i%2==1 :
            print(i)

In [4]:
odd()

1
3
5
7
9
11
13
15
17
19
21
23


# solution 2

*args and **kwargs are used in the same function to give us the feature to use both A NORMAL PARAMETER AND ALSO A DICTIONARY AS A PARAMETER 

it also improves the overall flexibilty

In [8]:
def example(*args , **kwargs):
    return args , kwargs

In [11]:
example(1,2,3,4, a=12 , name="keerat")

((1, 2, 3, 4), {'a': 12, 'name': 'keerat'})


# soluion 3

an iterator is generally a variable that we use to iterate over a dataset

print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14, 16,
18, 20].

In [13]:
l=[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [19]:
for i in range(1,6):
    print(l[i])

4
6
8
10
12

here we used the "for" method , for the iteration


# solution 4

+ generator function is a special type of function which generates and displays the outputs step by step rather than storing it all and displaying all at once 
+ we use the yield keyword to achieve it because it makes it more space efficient and better for infinite sequences
+ example of an inbuild gen function is range function

In [22]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9


# solution 5

+ generator function for prime number less than 1000

In [42]:
def is_prime(n):
    if n==1 :
        return False
    
    for i in range(2, int(n**0.5) + 1):
        if n%i==0 :
            return False 
    return True

In [43]:
is_prime(4)

False

In [44]:
is_prime(11)

True

In [45]:

def generate_prime(n):
    for i in range (1,n+1):
        if is_prime(i)==True :
            yield i

In [59]:

for i in generate_prime(1000):
    printgen.append(i)
    print(i)     ##just an example

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [61]:
primegen=generate_prime(1000)

In [65]:
for _ in range(20):
    print(next(primegen))

179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281